<a href="https://colab.research.google.com/github/yahia-kplr/Fondamentaux-Python-1/blob/main/Days_02/01-Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

4

# Lists

<h3 id="index">Indexing</h3>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsIndex.png" width="1000" />

 To create a list, type the list within square brackets <b>[ ]</b>, with your content inside the parenthesis and separated by commas. Let’s try it!

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

We can use negative and regular indexing with a list :

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsNeg.png" width="1000" />

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [ ]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

<h3 id="op">List Operations</h3>

 We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsSlice.png" width="1000">

In [ ]:
# List slicing

L[3:5]

['MJ', 1]

We can use the method <code>extend</code> to add new elements to the list:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

 Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

If we append the list  <code>['a','b']</code> we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

 We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

<h3 id="co">Copy and Clone List</h3>

When we set one variable <b>B</b> equal to <b>A</b>; both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRef.png" width="1000" align="center">

Initially, the value of the first element in <b>B</b> is set as hard rock. If we change the first element in <b>A</b> to <b>banana</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get banana instead of hard rock:

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

This is demonstrated in the following figure:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRefGif.gif" width="1000" />

You can clone list  **A** by using  the following syntax:

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

 Variable **B** references a new copy or clone of the original list; this is demonstrated in the following figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsVal.gif" width="1000" />

Now if you change <b>A</b>, <b>B</b> will not change:

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
list1.append('append me!')

In [ ]:
# Show
list1

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [ ]:
# Show
list1

[2, 3, 'append me!']

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

'append me!'

In [ ]:
# Show remaining list
list1

[2, 3]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [ ]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

## Quiz on List

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute

In [ ]:
#@title Solution
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

Find the value stored at index 1 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute

In [ ]:
#@title Solution
a_list[1]

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
a_list[1]
-->

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute

In [ ]:
#@title Solution
a_list[1:4]

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

In [ ]:
#@title Solution
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [ ]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [ ]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [ ]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']